<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egnyt.eserviss"
    android:versionCode="46"
    android:versionName="2.2.7" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="22" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <permission
        android:name="com.eserviss.passenger.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <!-- To check App is in Fore/Background -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
  Creates a custom permission so only this app can receive its messages.
 
  NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
        where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.eserviss.passenger.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.areebtaxi.passenger.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission for maps -->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- library -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="PACKAGE_NAME.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/AppTheme" > <!--  android:supportsRtl="true"-->
        <activity
            android:name="com.egnyt.eserviss.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.eserviss.passenger.main.ResideMenuActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.eserviss.passenger.main.SigninActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.eserviss.passenger.main.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.eserviss.passenger.main.SignupVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--<activity
            android:name="com.eserviss.passenger.main.BookAppointmentResponse"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.SignUpResponse"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.PromocodeApply"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.BounceLogoScreen"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait" />
              <activity
            android:name="com.eserviss.passenger.main.RequestPickupLater"
            android:screenOrientation="portrait" />
<!--        <activity
            android:name="com.eserviss.passenger.main.ErrorDialogFragment"
            android:screenOrientation="portrait" />-->
       <!-- <activity
            android:name="com.eserviss.passenger.main.ResideMenuActivity"
            android:screenOrientation="portrait" />-->
       <!-- <activity
            android:name="com.eserviss.passenger.main.PaymentForm"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.PaymentFormFragment"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.Support_ChildActivity"
            android:screenOrientation="portrait" />
    <!--    <activity
            android:name="com.eserviss.passenger.main.ProgressDialogFragment"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.HomePagePopUp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.eserviss.passenger.main.DriverMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <!--  -->
   <!--     <activity
            android:name="com.eserviss.passenger.main.NavDrawerItem"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.WebViewActivityPrivacy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.SupportWebActivity"
            android:screenOrientation="portrait" />
<!--        <activity
            android:name="com.eserviss.passenger.main.HomePageFragment"
            android:screenOrientation="portrait" />-->
       <!-- <activity
            android:name=".main.PaymentFragment"
            android:screenOrientation="portrait" />-->
       <!-- <activity
            android:name="com.eserviss.passenger.main.BookingFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.ProfileFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.SupportFragment"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.InvoicePaymentDone"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.InvoicePaymentNotDone"
            android:screenOrientation="portrait" />
       <!-- <activity
            android:name="com.eserviss.passenger.main.AboutFragment"
            android:screenOrientation="portrait" />-->
    <!--    <activity
            android:name="com.eserviss.passenger.main.AlertDialogActivity"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.SearchAddressGooglePlacesActivity"
            android:screenOrientation="portrait" />
      <!--  <activity
            android:name="com.eserviss.passenger.main.PlaceJSONParser"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.CustomAutoCompleteTextView"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.FareQuoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.RequestPickup"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.ForgotPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.eserviss.passenger.main.ChangeCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eserviss.passenger.main.DeleteCardActivity"
            android:screenOrientation="portrait" />
      <!--  <activity
            android:name="com.eserviss.passenger.main.LocationUpdate"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.eserviss.passenger.main.InvoiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.eserviss.passenger.main.FBShareActivity"
            android:screenOrientation="portrait" />

        <activity android:name="eu.janmuller.android.simplecropimage.CropImage" />

      <!--  <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />-->

        <!-- For using cardIo -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />


        <receiver
            android:name="com.eserviss.passenger.main.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.areebtaxi.passenger" />
            </intent-filter>
        </receiver>

        <service android:name="com.eserviss.passenger.main.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDJ70fNHyOGY5YImSL-eOdL9l95h99Kpx4" />
          <!--Api Debug key ali -->
        <!--AIzaSyDg2XjeA5tQNfr5Wqm5qAqZd_6HNbXr3Os-->
        <!-- API KEY for debug -->
        <!--  AIzaSyD6RVJjwLbF-7ftaCz660KlYyZc07w8wYI   -->              //akbar new

 <!-- API KEY for debug -->                                             //in kk akbar
        <!--  AIzaSyAoG5JyfyVa0QO-zURhbUOrKqWghe6M6MI   -->    


        <!-- API KEY for live app -->
        <!--    AIzaSyAZvV6BRE-QIeldczXnWPspEtjhXndxV7Y  -->          //kk live

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="8c41e9486e74492897473de501e087dbc6d9f391" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <receiver android:name="com.google.ads.conversiontracking.InstallReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>


</manifest>